allow-builds[]=@reown/appkit
allow-builds[]=@stellar/stellar-sdk
allow-builds[]=blake-hash
allow-builds[]=bufferutil
allow-builds[]=msw
allow-builds[]=protobufjs
allow-builds[]=secp256k1
allow-builds[]=sharp
allow-builds[]=tiny-secp256k1
allow-builds[]=usb
allow-builds[]=utf-8-validate
